@import 'tailwindcss';

@theme {
    --color-text-muted: var(--color-zinc-500);
    --color-text-base: var(--color-zinc-900);

    --color-bg-base: var(--color-zinc-100);
    --color-bg-light: var(--color-zinc-50);
    --color-bg-dark: var(--color-zinc-200);

    --color-primary: #282828;
    --color-primary-light: #3d3d3d;
    --color-secondary: var(--color-blue-500);
    --color-error: var(--color-rose-700);

    --font-body: 'Roboto Mono', sans-serif;

    --animate-shakeX-soft: shakeX-soft 0.3s ease-in-out;
    @keyframes shakeX-soft {
        0%, 100% {
            transform: translate3d(0, 0, 0);
        }
        25% {
            transform: translate3d(-5px, 0, 0);
        }
        50% {
            transform: translate3d(5px, 0, 0);
        }
        75% {
            transform: translate3d(-5px, 0, 0);
        }
    }
}

:root {
    font-size: 1rem;
}

body {
    @apply text-text-base bg-bg-dark font-body;
}

.input-error {
    @apply border-error text-error;
}

.icon {
    @apply mx-0 align-middle;
}

.hover-effect {
    @apply relative hover:bg-bg-light transition hover:-translate-y-[5%] hover:scale-105 hover:shadow-xl;

    &:hover::after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: -20%;
        left: 0;
        right: 0;
        height: 20%;
    }
}